:root {
    --dark: #2B2D42;
    --blue: #363666;
    --grey: #8D99AE;
    --white: #EDF2F4;
    --green: #1C7C54;
}

nav {
    background-color: var(--dark);
    width: 100%;
    margin: 0px;
}

nav ul li {
    display: inline-block;
}

nav > ul > li > a {
    color: #ffffff;
    display: block;
    padding: 35px;
    text-emphasis: none;
}